<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fundigo.mapper.LoginMapper">
	
	<insert id="CchoseInsert">
	INSERT INTO CLIENT(id,name,password,address,phone,nickname,tag) 
	values(#{id},#{name},#{password},#{address},#{phone},#{nickname},#{tag, jdbcType = VARCHAR})
	</insert>
	<insert id="cInsert">
	INSERT INTO CLIENT(id,name,password,address,phone,nickname,tag) 
	values(#{id},#{name},#{password},#{address},#{phone},#{nickname},#{tag})
	</insert>
	
	<select id="Clogin" resultType="com.fundigo.domain.LoginVO">
	select id, name, address, phone,nickname,tag from client where id = #{id} and password = #{password}
	</select>
	
	<select id="cSelect" resultType="com.fundigo.domain.LoginVO">
	select id, name, address, phone from client where id = #{id}
	</select>
	
	<update id="cUpdate" >
	update client set password=#{password},address=#{address},phone=#{phone},nickname=#{nickname},
	tag=#{tag} where id = #{id}
	</update>
	
	<delete id="cDelete">
	 DELETE FROM CLIENT WHERE ID = #{id} and PASSWORD = #{password}
	</delete>
	
	<select id="getFavoriteList" resultType="com.fundigo.domain.FundhistoryVO">
	select id,pno,dates from favorite where id = #{id}
	</select>
	
	<insert id="Finsert">
	INSERT INTO FUNDHISTORY(ID,PNO,DATES,UNKNO,PRICE,CODE) VALUES (#{id},#{pno},sysdate,#{unkno},#{price},#{code})
	</insert>
	
	<select id="getFundList" resultType="com.fundigo.domain.FundhistoryVO">
	SELECT pno,TO_CHAR(DATES , 'YYYY-MM-DD') dates ,price FROM FUNDHISTORY WHERE id = #{id}
	</select>
	
	<select id="PnoSelect" resultType="com.fundigo.domain.ProductVO">
	SELECT * FROM PRODUCT WHERE pno = #{pno}
	</select> 
	
	<select id="getFpnoList" resultType="com.fundigo.domain.FundhistoryVO">
	SELECT id,pno,TO_CHAR (DATES , 'yyyy-MM-dd') dates , unkno, price,code FROM FUNDHISTORY WHERE pno = #{pno}
	</select>
	
	<delete id="Fdelete" parameterType = "map">
	delete from fundhistory where id = #{id} and pno = #{pno}
	</delete>
	
	<select id="fundSelect" parameterType = "map" resultType="com.fundigo.domain.FundhistoryVO">
	select * from fundhistory where id = #{id} and pno = #{pno}
	</select>
	<!--  Fpno is Favorite Query -->
	<insert id="FpnoInsert">
	INSERT INTO FAVORITE(ID,PNO,DATES) values (#{id},#{pno},sysdate)
	</insert>
	
	<delete id="FpnoDelete" parameterType = "map" >
	DELETE FROM FAVORITE  WHERE id = #{id} AND PNO = #{pno} 
	</delete>
<!-- 기호쓸때 쓰는 CDATA	<select id="getList" resultType="com.fundigo.domain.LoginVO">
	<![CDATA[
	SELECT id,name,address,phone FROM CLIENT where id = #{id}
	]]>
	</select> -->
	
</mapper>
