<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fundigo.mapper.LoginMapper">
	
	<insert id="CchoseInsert">
	INSERT INTO CLIENT(id,name,password,address,phone,nickname,tag) 
	values(#{id},#{name},#{password},#{address},#{phone},#{nickname},#{tag, jdbcType = VARCHAR})
	</insert>
	<insert id="cInsert">
	INSERT INTO CLIENT(id,name,password,address,phone,nickname,tag) 
	values(#{id},#{name},#{password},#{address},#{phone},#{nickname},#{tag, jdbcType = VARCHAR})
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="Integer">
 	SELECT count(*) FROM CLIENT WHERE ID =#{id,jdbcType = VARCHAR}
	</select>
	
	<select id="Clogin" resultType="com.fundigo.domain.LoginVO">
	select id, name, address, phone,nickname,tag from client where id = #{id,jdbcType = VARCHAR} and password = #{password,jdbcType = VARCHAR}
	</select>
	
	<select id="cSelect" parameterType="String" resultType="com.fundigo.domain.LoginVO">
	select id, name, address, phone,nickname,tag from client where id = #{id,jdbcType = VARCHAR}
	</select>
	
	<select id="cCheck" parameterType="String" resultType="com.fundigo.domain.LoginVO">
	select id client where id = #{id } and password = #{password}
	</select>
	
	<update id="cUpdate" >
	update client set password=#{password},address=#{address},nickname=#{nickname},
	where id = #{id} and password = #{password}
	</update>
	
	<delete id="cDelete">
	 DELETE FROM CLIENT WHERE ID = #{id} and PASSWORD = #{password}
	</delete>
	
	<select id="getFavoriteList" resultType="com.fundigo.domain.FundhistoryVO">
	select fav_count,pno,TO_CHAR(DATES , 'yyyy-MM-dd') dates from favorite where id = #{id}
	</select>
	<!-- not yet -->
	<!-- funding history -->
	<insert id="Finsert">
	INSERT INTO FUNDHISTORY(ID,PNO,DATES,UNKNO,PRICE,CODE) VALUES (#{id},#{pno},sysdate,#{unkno},#{price},#{code})
	</insert>
	<!-- Client Funding history List print -->
	<select id="getFundList" parameterType = "String" resultType="com.fundigo.domain.FundhistoryVO">
	SELECT pno,TO_CHAR(DATES , 'yyyy-MM-dd') dates ,price,code FROM FUNDHISTORY WHERE id = #{id}
	</select>
	<!-- product search -->
	<select id="PnoSelect" resultType="com.fundigo.domain.ProductVO">
	SELECT * FROM PRODUCT WHERE pno = #{pno}
	</select> 
	<!-- funding client search  -->
	<select id="getFpnoList" resultType="com.fundigo.domain.FundhistoryVO">
	SELECT id,pno,TO_CHAR (DATES , 'yyyy-MM-dd') dates , unkno, price,code FROM FUNDHISTORY WHERE pno = #{pno}
	</select>
	<!-- not yet -->
	<delete id="Fdelete" parameterType = "map">
	delete from fundhistory where id = #{id} and pno = #{pno}
	</delete>
	<!-- product page -->
	<select id="fundSelect" parameterType = "String" resultType="com.fundigo.domain.FundhistoryVO">
	select * from fundhistory where id = #{id} and pno = ${pno}
	</select>
	<!--  Fpno is Favorite Query -->
	<insert id="FpnoInsert">
	INSERT INTO FAVORITE(FAV_COUNT,ID,PNO,DATES) values (seq_favorite.NEXTVAL,#{id},#{pno},sysdate)
	</insert>
	<!-- multi parameter -->
	<delete id="FpnoDelete" parameterType = "map" >
	DELETE FROM FAVORITE  WHERE id = #{id} AND PNO = #{pno} 
	</delete>
	<!-- Phone inValid Check -->
	<select id="phonecheck" resultType="com.fundigo.domain.LoginVO">
		SELECT ID FROM CLIENT WHERE PHONE=#{phone}
	</select>
</mapper>
