<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.fundigo.mapper.BoardMapper">
	<select id = "pGetList" resultType = "com.fundigo.domain.ProductVO">
<![CDATA[
select * from product where pno > 0 order by pno
]]>
</select>

<select id = "pGetTagList" resultType = "com.fundigo.domain.ProductVO">
<![CDATA[
select * from product where tag like #{tag} order by pno
]]>
</select> -->

<select id = "sliderSelect" resultType = "com.fundigo.domain.ProductVO">
<![CDATA[
	select * from product where rownum <= 4 order by totalprice
]]>
</select>
<!-- <select id = "idTagSelect" resultType = "com.fundigo.loginVO">
</select> -->

<!-- 필요한 쿼리
	1. 테그별 판매액이 가장 큰 프로젝트
	2. 관심별 판매액이 가장 큰 프로젝트
	3. 아이디 태그 검색
	4. 태그에 맞는 프로젝트 제공.
 -->
</mapper>