<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.fundigo.mapper.ProductMapper">

	<!-- product Query -->

	<select id="pGetList" resultType="com.fundigo.domain.ProductVO">
     <![CDATA[select * from product where pno > 0 order by pno]]>
	</select>

	<select id="pGetTagList" resultType="com.fundigo.domain.ProductVO">
<![CDATA[
select * from product where tag like #{tag} order by pno
]]>
	</select>

	<select id="pRead" resultType="com.fundigo.domain.ProductVO">
		select * from product where pno =
		#{pno}
	</select>

	<insert id="pInsertSelectKey">
		<selectKey keyProperty="pno" order="BEFORE"
			resultType="long">
			select seq_product.nextval from dual
		</selectKey>
		insert into product (pno, title, description, id, goalPrice, goalDate,
		tag)
		values (#{pno},#{title}, #{description},#{id}, #{goalPrice},
		TO_DATE(#{goalDate} , 'yyyy-mm-dd'), #{tag})

	</insert>

	<insert id="pInsertImg">
		insert into pro_attach(uuid, uploadPath, fileName,
		fileType, pno)
		values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType},
		#{pno})
	</insert>

	<select id="pGetImgList" resultType="com.fundigo.domain.ProAttachVO">
		select * from pro_attach where pno = #{pno}
	</select>

	<delete id="pDeleteImg">
		delete from pro_attach where uuid = #{uuid};
	</delete>

	<delete id="pDelete">
		{
		CALL
		BEGIN
		DELETE FROM pro_attach where pno = #{pno};
		DELETE FROM pro_list WHERE pno = #{pno};
		DELETE FROM product WHERE pno
		= #{pno};
		END
		}
	</delete>

	<update id="pUpdate">
		update product
		set title = #{title},
		description =
		#{description},
		goalPrice = #{goalPrice},
		goalDate =
		TO_DATE(SUBSTR(#{goalDate}, 1, 10), 'yyyy-mm-dd hh24:mi:ss'),
		tag =
		#{tag}
		where pno = #{pno}
	</update>

	<update id="pUpdateCount">
		update product set readCount = readCount +1
		where pno =
		#{pno}
	</update>

	<!--list Query-->

	<select id="lGetList" resultType="com.fundigo.domain.ListVO">
	<![CDATA[select * from pro_list where pno = #{pno}]]>
	</select>

	<select id="lRead" resultType="com.fundigo.domain.ListVO">
		select * from pro_list where code
		= #{code}
	</select>

	<insert id="lInsertSelectKey">
		<selectKey keyProperty="code" order="BEFORE"
			resultType="long">
			select seq_list.nextval from dual
		</selectKey>
		insert into pro_list (code, title, contents, price, pno)
		values
		(#{code},#{title}, #{contents}, #{price}, #{pno})
	</insert>

	<delete id="lDelete">
		delete from pro_list where code = #{code}
	</delete>

	<update id="lUpdate">
		update pro_list
		set title = #{title},
		contents =
		#{contents},
		price = #{price}
		where code = #{code}
	</update>

	<!--search Query -->
	<select id="getSearchListWithPaging" resultType="com.fundigo.domain.ProductVO">
SELECT 
pno, title, DESCRIPTION, id, REGDATE, SPONSORNUM, totalprice, goalprice, goaldate, tag 
FROM 
(SELECT /*+INDEX_DESC(product PK_PRODUCT) */
rownum rn, pno, title, DESCRIPTION, id, REGDATE, SPONSORNUM, totalprice, goalprice, goaldate, tag 
FROM PRODUCT 
WHERE 
(title LIKE '%'||#{keyword}||'%' OR DESCRIPTION LIKE '%'||#{keyword}||'%' OR id LIKE '%'||#{keyword}||'%') 
<![CDATA[AND rownum <= #{pageNum}*#{amount})
WHERE rn > (#{pageNum}-1)*#{amount} ]]>
	</select>


	<select id = "pGetTotalCount" resultType = "int">
	select count(*) from product WHERE title LIKE '%'||#{keyword}||'%' OR DESCRIPTION LIKE '%'||#{keyword}||'%' OR id LIKE '%'||#{keyword}||'%'
	</select>
</mapper>